<<<<<<< HEAD
.right{
    display: flex;
    justify-content: flex-end;
}

.container{
    max-width: 900px;
=======
.right{
    display: flex;
    justify-content: flex-end;
}

.container{
    max-width: 900px;
>>>>>>> 78668f55cf726fc0e7ee6bf74a94e0409fbd2f82
}