<<<<<<< HEAD
.dashboard {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
}
=======
.dashboard {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
}
>>>>>>> 78668f55cf726fc0e7ee6bf74a94e0409fbd2f82
